<% if @product.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<% content_for(:title, "New Products") %>
<h1>New Product</h1>

<%= render "layouts/form" %>
