<div class="w3-container w3-grey"> <h3>Products</h3>
  </div>
<% if @products.any? %>
<ul>
  <% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
<% else %>
<p>There are no products yet.</p>
<% end %> <br>
<% if @most_reviews  %>
<h5>The most reviewed products:</h5>
<h4><%= link_to @most_reviews.name, product_path(@most_reviews)%></h4>
<% end %>

<p><%= link_to "Create new product", new_product_path %></p>
